{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <img src="/img/jink.png" />
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #FFF; text-align: center;}
    #wrapper { padding: 50px; }
    img { width:100%; max-width: 500px; }

</style>
{% endblock %}
